<div *ngIf="employeeList$ | async as list; else loading" class="employeeViewList">
  <table class='table table-striped'>
    <thead>
      <tr>
        <th style="width: 8%;">Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Login</th>
        <th>Email (password)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of list" id="{{employee.businessEntityId}}">
        <td style="width: 8%;">{{employee.businessEntityId}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.loginId}}</td>
        <td>{{employee.emailAddress}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  Loading ... ...
</ng-template>
